body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1,
h2 {
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.summary {
  margin-top: 20px;
}

#activeNotesTable,
#archivedNotesTable {
  margin-top: 10px;
}

#archivedNotesTable {
  display: none;
}

#summaryTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.tab {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.tab.active {
  background-color: #07ac30;
  border-bottom: 2px solid rebeccapurple;
}

.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.notes {
  display: flex;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: relative;
  margin: 15% auto;
  padding: 20px;
  max-width: 400px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}

.notes {
  margin-bottom: 15px;
}

.notes label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.notes input[type="text"],
.notes textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.notes select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
}

.add-note-btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.add-note-btn:hover {
  background-color: #0056b3;
}

.btn {
  display: flex;
  width: 100px;
}

.btn:not(:last-child){
  margin-bottom: 10px;
}

#archivedTable {
  display: table;
}